@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }
  .navbar__link:hover {
    color: #ff89fc;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

.btw {
  display: flex;
  justify-content: space-between;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 50%;
  right: 23%;
  background-color: #000;
  border-radius: 18px 18px 0 0;
}

.fixed-bottom-sm {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 35%;
  right: 33%;
  background-color: #000;
  border-radius: 18px 18px 0 0;
}

.list-hover:hover {
  background: linear-gradient(to right, #003b7209 15%, #003b7228 50%);
  cursor: pointer;
  border-radius: 17px;
}

.ft-15 {
  font-size: 15px !important;
}

/* ANTd Overrides */
.editable-row td.ant-table-cell {
  padding: 5px !important;
}

.org-logo .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container {
  width: 175px !important;
  height: 175px !important;
}

.fixed-sider {
  height: 100vh;
  position: fixed;
  left: 0;
  overflow: auto;
}

.premium {
  font-size: 10px !important;
  color: #eab308 !important;
}

.n-width {
  width: 20rem;
}

@media (min-width: 400px) and (max-width: 520px) {
  .n-width {
    width: 11.7rem;
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  .n-width {
    width: 11.5rem;
  }
}

@media (min-width: 768px) {
  .n-width {
    width: 13.7rem;
  }
}